@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Raleway:wght@100;400;700&family=Roboto+Condensed:wght@300;400;700&family=Space+Mono&family=Tilt+Prism&display=swap');


body {
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Dosis", serif;
    text-align: center;
    width: auto;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    min-height: 100px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
  }
  
  nav a {
    padding: 0px 10px 0px 10px;
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
  }

  a {
      text-decoration: none;
      color: #000000;
  }

  .company {
      margin-left: 30px;
      font-size: 2em;
  }

  main {
    align-items: center;
    text-align: center;
  }


  .table-stripe {
      display: flex;
      justify-content: center;
      background-color: #AEC6CF;
  }

  .update-stripe {
    background-color: #AEC6CF;
}

.content-stripe {
    min-height: 100px;
    padding: 20px 0px 20px 0px;
    overflow: auto;
}


  th {
      padding-right: 5px;
      font-weight: bolder;
  }

  td {
      padding-right: 5px;
  }


  form label {
    margin: 0px 5px 0px 5px;
  }

  form input {
      margin: 5px 5px 5px 5px;
  }

  fieldset {
      max-width: 50%;
      display: flex;
      justify-content: center;
  }

  footer {
      min-height: 150px;
      background-color: #ededed;
  }

  form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
  }

  .group-one {
      display: flex;
      margin-bottom: 10px;
  }

  .group-two {
      display: flex;
  }

  .group-three {
    margin-top: 10px;
    display: flex;
  }

  .btn {
      background-color: #000000;
      color: #FFFFFF;
      padding: 10px;
      margin-right: 15px;
      border: 2px solid #FFFFFF;
      font-family: "Dosis", serif;
  }

  .delete-stripe {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  table {
      background-color: #FFFFFF;
      padding: 10px;
      border: 2px solid #000000;
  }

  input {
    background-color: #ededed;
    border: 1px solid #000000;
  }

  footer p {
      padding-top: 60px;
  }